* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  width: 1920px;
  font-family: "Archivo", sans-serif;
  background-color: #070c1c;
  color: #fff;
  -ms-overflow-style: none;
}

body::-webkit-scrollbar {
  display: none;
}

#root {
  width: 100%;
  height: 100%;
}

.logo {
  width: 88px;
  height: 22px;
  display: flex;
  cursor: pointer;
}

.kino {
  font-size: 20px;
  font-weight: 800;
}

.kino-highlight {
  font-weight: 800;
  color: #ff0000;
}

.search-bar {
  width: 480px;
  height: 41px;
  background-color: #ffffff1a;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 999px;
  padding: 10.5px 12px;
  gap: 8px;
}

.search-input-container {
  width: 436px;
  display: flex;
  align-items: center;
  gap: 8px;
}

.search-bar input {
  background-color: transparent;
  border: none;
  color: white;
  width: 100%;
}

.search-bar input::placeholder {
  color: #ffffff;
}

.search-bar input:focus {
  outline: none;
  border: none;
}

.search-bar:hover {
  border: rgba(255, 255, 255, 0.103) 0.5px solid;
}

.sign-up-button {
  font-size: 14px;
  font-weight: 700;
  color: #ffffff;
  cursor: pointer;
  padding: 12px 22px;
  background-color: #ec3013;
  width: 96px;
  height: 41px;
  border-radius: 999px;
  opacity: 1;
  transition: opacity 0.2s;
}

.sign-up-button:hover {
  opacity: 0.8;
}

.log-in-button {
  font-size: 14px;
  font-weight: 700;
  color: #000000;
  cursor: pointer;
  background-color: #ffffff;
  width: 96px;
  height: 41px;
  border-radius: 999px;
  padding: 12px 22px;
  opacity: 1;
  transition: opacity 0.2s;
  display: flex;
  justify-content: center;
}

.log-in-button:hover {
  opacity: 0.8;
}

header {
  width: 100%;
  height: 111px;
  background: linear-gradient(
    180deg,
    #000000 -212.35%,
    rgba(0, 0, 0, 0.51) 32.09%,
    rgba(0, 0, 0, 0) 93.93%
  );
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 60px;
  position: relative;
  z-index: 10;
}

.header-left {
  display: flex;
  align-items: center;
  width: 191px;
  gap: 36px;
}

.sessions {
  font-size: 12px;
  font-weight: 600;
  cursor: pointer;
}

.header-right {
  display: flex;
  align-items: center;
  gap: 32px;
}

.header-buttons {
  display: flex;
  align-items: center;
  gap: 12px;
}

.hero-section {
  width: 100%;
  height: 760px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
}

.each-hero-movie {
  width: 100%;
  height: 100%;
  position: absolute;
  overflow: hidden;
  transition: opacity 0.5s;
  z-index: 1;
}

.hero-image {
  width: 100%;
  position: relative;
  z-index: 0;
}

.hero-description {
  position: absolute;
  bottom: 179px;
  left: 67px;
  width: 580px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  z-index: 2;
  opacity: 1;
}

.for-linear {
  position: absolute;
  width: 100%;
  height: 760px;
  background: linear-gradient(
    270deg,
    rgba(0, 0, 0, 0.08) 0%,
    rgba(0, 0, 0, 0.8) 100%
  );
  z-index: 1;
  top: 0;
  pointer-events: none;
}

.premiere {
  width: 196px;
  font-size: 12px;
  font-weight: 600;
  color: #ec3013;
  padding: 6px 10px;
  background-color: #ec30131a;
  border-radius: 999px;
}

.hero-title {
  width: 100%;
  display: flex;
  align-items: start;
  font-size: 40px;
  font-weight: 800;
}

.hero-additional-info {
  display: flex;
  align-items: center;
  gap: 12px;
  justify-content: start;
  font-size: 12px;
  font-weight: 600;
  width: 100%;
  height: 26px;
}

.age-restriction {
  background-color: #ec30131a;
  color: #ec3013;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 999px;
  padding: 6px 12px;
}

.duration {
  width: 86px;
  display: flex;
  align-items: center;
  gap: 4px;
  background-color: #ffffff1a;
  padding: 6px 12px;
  border-radius: 999px;
}

.format-list {
  display: flex;
  gap: 12px;
}

.format {
  background-color: #ffffff1a;
  padding: 6px 12px;
  border-radius: 999px;
}

.hero-description-text {
  width: 560px;
  font-size: 14px;
  font-weight: 400;
  line-height: 130%;
  letter-spacing: 0%;
}

.hero-buttons {
  width: 286px;
  height: 42px;
  gap: 10px;
  display: flex;
  align-items: center;
  margin-top: 18px;
}

.hero-buy-tkt-button {
  width: 143px;
  height: 42px;
  padding: 13px 22px;
  background-color: #ec3013;
  border-radius: 999px;
  display: flex;
  align-items: center;
  gap: 4px;
  opacity: 1;
  transition: opacity 0.2s;
  font-size: 14px;
  cursor: pointer;
}

.hero-buy-tkt-button:hover {
  opacity: 0.8;
}

.hero-buy-tkt-text {
  font-size: 14px;
  font-weight: 700;
}

.hero-sessions-button {
  width: 133px;
  height: 42px;
  padding: 13px 22px;
  background-color: #ffffff1a;
  border-radius: 999px;
  display: flex;
  align-items: center;
  opacity: 1;
  transition: background-color 0.2s;
  cursor: pointer;
}

.hero-sessions-button:hover {
  background-color: #ffffffa2;
}

.carousel-navigation {
  position: absolute;
  z-index: 4;
  width: 1594px;
  display: flex;
  left: 67px;
  bottom: 42px;
  gap: 20px;
  align-items: center;
}

.carousel-indicator {
  width: 1456px;
  height: 3px;
  display: flex;
  align-items: center;
  gap: 7px;
}

.white-layer {
  width: 359px;
  height: 100%;
  background-color: #fff;
}

.time-tracker {
  width: 0;
  height: 100%;
  background-color: #ec3013;
  animation: fill-tracker 5s linear forwards;
}

@keyframes fill-tracker {
  from {
    width: 0;
  }

  to {
    width: 100%;
  }
}

.carousel-arrows {
  width: 118px;
  height: 54px;
  display: flex;
  align-items: center;
  gap: 10px;
}

.left-arrow,
.right-arrow {
  cursor: pointer;
}

.search-result {
  position: absolute;
  top: 80px;
  left: 1145px;
  width: 480px;
  max-height: 484px;
  padding: 8px;
  background-color: #070c1c;
  border-radius: 16px;
  overflow-y: scroll;
  scrollbar-width: none;
}

.search-result::-webkit-scrollbar {
  display: none;
}

.empty-search-result,
.no-result {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 32px 0px 28px 0px;
}

.result-first-text {
  margin-top: 20px;
  font-size: 14px;
  font-weight: 600;
}

.result-second-text {
  margin-top: 6px;
  font-size: 14px;
  font-weight: 400;
  color: #a9a9a9;
}

.result-browse {
  width: 183px;
  height: 41px;
  font-size: 14px;
  font-weight: 800;
  border-radius: 999px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 22px;
  background-color: #ffffff1a;
  transition: background-color 0.2s;
  cursor: pointer;
}

.result-browse:hover {
  background-color: #ffffff57;
}

.result-movies {
  width: 100%;
}

.result-movies-header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 6px 10px;
}

.films-and-events,
.result-amount {
  color: #a9a9a9;
  font-size: 12px;
}

.films-and-events {
  font-weight: 600;
}

.result-amount {
  font-weight: 400;
}

.display-searched-movies {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.each-searched-movie {
  width: 100%;
  height: 72px;
  padding: 8px 20px 8px 10px;
  display: flex;
  gap: 14px;
  align-items: center;
  transition: background-color 0.2s;
  background-color: #070c1c;
  cursor: pointer;
  border-radius: 10px;
}

.each-searched-movie:hover {
  background-color: #1c243d;
}

.searched-movie-poster {
  width: 40px;
  height: 56px;
  border-radius: 6px;
}

.searched-movie-detail {
  min-width: 278px;
  height: 34px;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: space-between;
}

.searched-movie-title {
  font-size: 14px;
  font-weight: 600;
}

.searched-movie-info {
  color: #a9a9a9;
  font-size: 12px;
  font-weight: 400;
}

.searched-price {
  width: 88px;
  display: flex;
  justify-content: end;
  font-size: 14px;
  font-weight: 600;
}

.coming-soon {
  color: #e27e04;
}

.now-playing {
  width: 100%;
  height: 502px;
  margin-top: 681px;
  position: relative;
  padding: 0 70px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.now-playing.shadow-left::before {
  content: "";
  position: absolute;
  left: 0;
  top: 50px;
  width: 250px;
  height: 452px;
  background: linear-gradient(to right, #070c1c, transparent);
  pointer-events: none;
  z-index: 10;
}

.now-playing.shadow-right::after {
  content: "";
  position: absolute;
  right: 0;
  top: 50px;
  width: 250px;
  height: 452px;
  background: linear-gradient(to left, #070c1c, transparent);
  pointer-events: none;
  z-index: 10;
}

.home-section-header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.home-section-title {
  font-size: 24px;
  font-weight: 800;
}

.home-section-see-all {
  color: #ec3013;
  font-size: 14;
  font-weight: 600;
  cursor: pointer;
}

.now-playing-list {
  width: 100%;
  overflow-x: auto;
  display: flex;
  align-items: center;
  gap: 17px;
  scrollbar-width: none;
}

.now-playing-list::-webkit-scrollbar {
  display: none;
}

.each-now-playing-card {
  width: 260px;
  height: 452px;
  padding: 16px 8px;
  background-color: #1e2031;
  border-radius: 20px;
  box-shadow: 0px 0px 4px 0px var(--shadow) inset;
  display: flex;
  flex-direction: column;
  align-items: start;
  flex-shrink: 0;
  transition: width 0.5s;
  position: relative;
}

.each-now-playing-card:hover {
  width: 390px;
}

.now-playing-poster {
  width: 245px;
  height: 300px;
  overflow: hidden;
  border-radius: 14px;
  transition: width 0.5s, height 0.5s;
  display: flex;
  justify-content: center;
  align-items: center;
}

.each-now-playing-card:hover .now-playing-poster {
  width: 375px;
  height: 200px;
}

.now-playing-poster img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.7s;
}

.each-now-playing-card:hover .now-playing-poster img {
  transform: scale(1.1);
}

.now-playing-detail {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 7px;
  height: 43px;
  margin-top: 10px;
}

.now-playing-title {
  font-size: 18px;
  font-weight: 800;
}

.now-playing-info {
  font-size: 12px;
  font-weight: 400;
  color: #a9a9a9;
}

.now-playing-age {
  font-size: 12px;
  width: 36px;
  height: 21px;
  margin-top: 7px;
}

.now-playing-card-footer {
  width: 236px;
  position: absolute;
  bottom: 13px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
  transition: width .5s;
}

.each-now-playing-card:hover .now-playing-card-footer {
  width: 366px;
}

.now-playing-price {
  font-size: 12px;
  font-weight: 600;
}

.now-playing-button {
  width: 119px;
  height: 35px;
  background-color: #ec3013;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 999px;
  font-size: 14px;
  font-weight: 800;
}

.now-playing-synopsis {
  width: 100%;
  height: 0;
  opacity: 0;
  font-size: 12px;
  color: #a9a9a9;
  margin-top: 15px;
  transition:
    opacity .3s ease .3s,
    width .2s,
    height .2s;
  overflow: hidden;
}

.each-now-playing-card:hover .now-playing-synopsis {
  width: 100%;
  height: 85px;
  opacity: 1;
}