* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  width: 1920px;
  font-family: "Archivo", sans-serif;
  background-color: #1e2031;
  color: #fff;
  -ms-overflow-style: none;
}

body::-webkit-scrollbar {
  display: none;
}

#root {
  width: 100%;
  height: 100%;
}

.logo {
  width: 88px;
  height: 22px;
  display: flex;
  cursor: pointer;
}

.kino {
  font-size: 20px;
  font-weight: 800;
}

.kino-highlight {
  font-weight: 800;
  color: #ff0000;
}

.search-bar {
  width: 380px;
  height: 41px;
  background-color: #ffffff1a;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 999px;
  padding: 10.5px 12px;
  gap: 8px;
}

.search-input-container {
  width: 436px;
  display: flex;
  align-items: center;
  gap: 8px;
}

.search-bar input {
  background-color: transparent;
  border: none;
  color: white;
  width: 100%;
}

.search-bar input::placeholder {
  color: #ffffff;
}

.search-bar input:focus {
  outline: none;
  border: none;
}

.search-bar:hover {
  border: rgba(255, 255, 255, 0.103) 0.5px solid;
}

.sign-up-button {
  font-size: 14px;
  font-weight: 700;
  color: #ffffff;
  cursor: pointer;
  padding: 12px 22px;
  background-color: #ec3013;
  width: 96px;
  height: 41px;
  border-radius: 999px;
  opacity: 1;
  transition: opacity 0.2s;
}

.sign-up-button:hover {
  opacity: 0.8;
}

.log-in-button {
  font-size: 14px;
  font-weight: 700;
  color: #000000;
  cursor: pointer;
  background-color: #ffffff;
  width: 96px;
  height: 41px;
  border-radius: 999px;
  padding: 12px 22px;
  opacity: 1;
  transition: opacity 0.2s;
}

.log-in-button:hover {
  opacity: 0.8;
}

header {
  width: 100%;
  height: 111px;
  background: linear-gradient(
    180deg,
    #000000 -212.35%,
    rgba(0, 0, 0, 0.51) 32.09%,
    rgba(0, 0, 0, 0) 93.93%
  );
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 60px;
}

.header-left {
  display: flex;
  align-items: center;
  width: 191px;
  gap: 36px;
}

.sessions {
  font-size: 12px;
  font-weight: 600;
  cursor: pointer;
}

.header-right {
  display: flex;
  align-items: center;
  gap: 32px;
}

.header-buttons {
  display: flex;
  align-items: center;
  gap: 12px;
}

.hero-section {
  width: 100%;
  height: 760px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.each-hero-movie {
  width: 100%;
  height: 100%;
  position: absolute;
  overflow: hidden;
}

.hero-image {
  transition: opacity 0.5s;
  width: 100%;
}

.hero-description {
  position: absolute;
  bottom: 179px;
  left: 67px;
  width: 580px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  z-index: 2;
  opacity: 1;
}

.for-linear {
  position: absolute;
  width: 100%;
  height: 760px;
  background: linear-gradient(
    270deg,
    rgba(0, 0, 0, 0.08) 0%,
    rgba(0, 0, 0, 0.8) 100%
  );
  z-index: 2;
}

.premiere {
  width: 196px;
  font-size: 12px;
  font-weight: 600;
  color: #ec3013;
  padding: 6px 10px;
  background-color: #ec30131a;
  border-radius: 999px;
}

.hero-title {
  width: 100%;
  display: flex;
  align-items: start;
  font-size: 40px;
  font-weight: 800;
}

.hero-additional-info {
  display: flex;
  align-items: center;
  gap: 12px;
  justify-content: start;
  font-size: 12px;
  font-weight: 600;
  width: 100%;
  height: 26px;
}

.age-restriction {
  background-color: #ec30131a;
  color: #ec3013;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 999px;
  padding: 6px 12px;
}

.duration {
  width: 86px;
  display: flex;
  align-items: center;
  gap: 4px;
  background-color: #ffffff1a;
  padding: 6px 12px;
  border-radius: 999px;
}

.format-list {
  display: flex;
  gap: 12px;
}

.format {
  background-color: #ffffff1a;
  padding: 6px 12px;
  border-radius: 999px;
}

.hero-description-text {
  width: 560px;
  font-size: 14px;
  font-weight: 400;
  line-height: 130%;
  letter-spacing: 0%;
}

.hero-buttons {
  width: 286px;
  height: 42px;
  gap: 10px;
  display: flex;
  align-items: center;
  margin-top: 18px;
}

.hero-buy-tkt-button {
  width: 143px;
  height: 42px;
  padding: 13px 22px;
  background-color: #ec3013;
  border-radius: 999px;
  display: flex;
  align-items: center;
  gap: 4px;
  opacity: 1;
  transition: opacity 0.2s;
  font-size: 14px;
  cursor: pointer;
}

.hero-buy-tkt-button:hover {
  opacity: 0.8;
}

.hero-buy-tkt-text {
  font-size: 14px;
  font-weight: 700;
}

.hero-sessions-button {
  width: 133px;
  height: 42px;
  padding: 13px 22px;
  background-color: #ffffff1a;
  border-radius: 999px;
  display: flex;
  align-items: center;
  opacity: 1;
  transition: background-color 0.2s;
  cursor: pointer;
}

.hero-sessions-button:hover {
  background-color: #ffffffa2;
}

.carousel-navigation {
  position: absolute;
  z-index: 2;
  width: 1594px;
  display: flex;
  left: 67px;
  bottom: 42px;
  gap: 20px;
  align-items: center;
}

.carousel-indicator {
  width: 1456px;
  height: 3px;
  display: flex;
  align-items: center;
  gap: 7px;
}

.white-layer {
  width: 359px;
  height: 100%;
  background-color: #fff;
}

.time-tracker {
  width: 0;
  height: 100%;
  background-color: #EC3013;
  animation: fill-tracker 5s linear forwards;
}

@keyframes fill-tracker {
  from {
    width: 0;
  }

  to {
    width: 100%;
  }
}

.carousel-arrows {
  width: 118px;
  height: 54px;
  display: flex;
  align-items: center;
  gap: 10px;
}

.left-arrow,
.right-arrow {
  cursor: pointer;
}
